.gridContainer5842{
    display: grid;
    grid-template-columns: 58% 42%;
}
.gridContainer3862{
    display: grid;
    grid-template-columns: 38% 62%;
}
.gridContainer6238{
    display: grid;
    grid-template-columns: 62% 38%;
}
.gridContainer6238grid0{
    background-color: #afbec6;
    height: 44vh;
    display: flex
}
.gridContainerInnerText0{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.1vw;
    margin-right: 3vw;
    margin-left: 0.5vw;
}
.gridContainer2080{
    background-color: #b3c2ac;
    height: 47vh;
    display: grid;
    grid-template-rows: 20% 80%;
}
.gridContainer2080text0{
    text-align: right;
    margin-right: 2vw;
    font-weight: 400;
    font-size: 4vw;
    letter-spacing: 1vw;
}


.background0{
    background: linear-gradient(to right, #325062, #fa7730);
    background-image: url(background0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.background1{
    background-image: url(background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 47vh;
}
.background2{
    background-image: url(background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 44vh;
}
.background3{
    background-image: url(background3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 44vh;
}
.cardImage0{
    background-image: url(person0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 36px;
    color: white;
}
.cardImage1{
    background-image: url(person1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 36px;
    color: white;
}
.cardImage2{
    background-image: url(person2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 36px;
    color: white;
}
.cardImage3{
    background-image: url(person3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 36px;
    color: white;
}
.cardImage4{
    background-image: url(person4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 36px;
    color: white;
}
.cardImage5{
    background-image: url(person5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 36px;
    color: white;
}
.cardTextArea{
    display: grid;
    grid-template-areas: 20% 80%;
}
.cardTextType0{
    display: flex;
    padding: 10px 3px;
    font-size: 36px;
    flex-direction: row;
}
.cardTextType1{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 10px 3px;
    line-height: 170%;
    align-items: baseline;
}

.getToKnowUsText{
    margin-right: 7vw;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 8vh;
    letter-spacing: 1vw;
    color: #11384b;
    display: flex;
    flex-direction: row-reverse;
}

.advisoryBoardText {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin-left: 5vw;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 2vh;
    letter-spacing: 0.5vw;
    color: #000005;
}

.cardsListGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 3.5vw;
    margin: 0 5vw 0 5vw
}

.cardStyle{
    background-color: #c5cfd5;
    height: 38vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media (max-width: 1000px) {
    .cardsListGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }