.loginContainer {
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
    font-size: 20px;
    color: white;
}
.appContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.loginBottom{
    background:linear-gradient(to right top, rgba(162,211,215,255) 0%, #e1e5e9 60%);
    display: grid;
    grid-template-rows: 17.6% 45% auto;
}
.loginBottomGrid0{
    display: flex;
    text-align: left;
    align-items: flex-end;
}
.loginBottomGrid1{
    display: grid;
    /* grid-gap: 6vw; */
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.loginInputContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.loginInputGridContainer{
    display: grid;
    grid-gap: 6vw;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.nextButton{
    margin-top: 3vh;
    height: 50px;
    width: 130px;
    font-size: 24px;
    color: white;
    background-color: #5b9ea4;
    border: none;
    cursor: pointer;
}
.nextButton:active {
    background-color: #5b9ee9;
}
p a {
    display: block;
    font-size: 20px;
    line-height: 35px;
}