.dashboardContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 13% 87%;
    font-family: sans-serif;
}
.dashboardLeftNav{
    background: linear-gradient(to top, #325062 30%, #fa7730);
}
.profileIcon{
    color: #e7eced
}
.dashboardRight{
    background:linear-gradient(to left top, rgba(162,211,215,255) 0%, #e1e5e9 60%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.accountCardTop{
    padding: 10px 50px;
    margin-top: 7vh;
    height: 48vh;
    width: 56vw;
    background-color: white;
    font-size: 20px;
}
.accountCardBottom{
    margin-top: 7vh;
    margin-bottom: 8vh;
    height: 30vh;
    width: 56vw;
    background-color: white;
    padding: 10px 50px;
    font-size: 20px;
}
.accountCardRows{
    display: flex;
    justify-content: space-between;
}
p a {
    display: block;
    font-size: 20px;
    line-height: 35px;
}
.verifiedText {
    color: green;
}
.unapprovedText{
    color: red;
}
.withdrawalInputContainer{
    margin: auto;
    position: relative;
    display: inline-block;
    width: 100%;
}
.withdrawlInput {
    outline: 0;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    border-width: 0 0 2px;
    border-color: black;
    width: 100%;
    padding-left: 35px;
}
.withdrawlInput:focus {
    border-color: black;
}
.dolarSuffix{
    position: absolute;
    top: 0;
    left: 0px;
}