@media (max-width: 1000px) {
    .cardsListGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .executiveTeamText, .cardStyle {
        display: none;
    }
    .headerTextContainer {
        flex-direction: column;
    }
    .watchThisSpaceContainer{
        display: flex;
        justify-content: center;
    }
    .flexColumn {
        align-items: center;
        width: 100vw;
        justify-content: center;
    }
    .mobileWhatWeDo {
        font-size: 24px;
        font-weight: bold;
    }
    .cardTextArea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cardTextType0{
        font-size: 18px;
    }
    .cardTextType1 {
        font-size: 14px;
        font-weight: 600;
    }
    .mobileCard{
        background-color: #c5cfd5;
        display: grid;
        height: 38vh;
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
    .whatWeDo {
        position: absolute;
        top: 73vh;
        width: 80vw;
        margin: 0px 10vw;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: repeat(6, minmax(0, 1fr));
        background-color: white;
    }
    .getToKnowUsText {
        line-height: 26px;
        font-size: 18px;
    }
    .advisoryBoardText {
        line-height: 18px;
        font-weight: bold;
        font-size: 16px;
    }
    .getToKnowUsTextContainer{
        display: flex;
        flex-direction: column;
        height: 8vh;
        justify-content: space-around;
    }
    .gridContainer2080text0, .background2{
        display: none;
    }
    .background1, .background3{
        height: 22vh;
        margin: 1.5vw;
    }
    .background2SmallScreens{
        background-image: url(./images/background2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 22vh;
        margin: 1.5vw;
    }
    .gridContainerInnerText0{
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 12px;
        font-weight: bold;
        margin-right: 3vw;
        margin-left: 0.5vw;
    }
    .gridContainer2080{
        background-color: white;
        display: flex;
    }
    .getToKnowUsFooter{
        height: 2vh;
    }
    .gotQuestionsContainer {
        grid-template-columns: 20% 80%;
    }
    .footerIcon {
        width: 12vh;
        height: 12vh;
    }
    .homePageFooterText {
        font-weight: bold;
        font-size: 14px;
    }
    .gotQuestions {
        flex-direction:column;  
        font-size: 36px;
        line-height: 36px;
    }
    .interestedText{
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    .headerLeftText, .headerRightText{
        margin: 0 5vw;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.1em;
    }
}

@media (min-width: 1000px) {
    .mobileCard, .mobileWhatWeDo {
        display: none;
    }
    .headerTextContainer {
        flex-direction: row;
    }
    .watchThisSpaceContainer{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .executiveTeamText {
        height: 12vh;
    }
    .getToKnowUsFooter{
        height: 8vh;
    }
    .cardStyle {
        display: grid;
    }
    .cardTextArea{
        display: grid;
        grid-template-areas: 20% 80%;
    }
    .cardTextType0{
        display: flex;
        padding: 10px 3px;
        font-size: 24px;
        flex-direction: row;
    }
    .cardTextType1{
        font-size: 18px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 10px 3px;
        line-height: 170%;
        align-items: baseline;
    }
    .whatWeDo {
        position: absolute;
        top: 73vh;
        width: 80vw;
        margin: 0px 10vw;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: repeat(3, minmax(0, 1fr));
        background-color: white;
    }
    .cardsListGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .advisoryBoardText {
        line-height: 2vh;
        letter-spacing: 9px;
        font-weight: 400;
        font-size: 36px;
    }
    .getToKnowUsTextContainer{
        height: 12vh;
    }
    .getToKnowUsText {
        line-height: 80px;
        font-size: 72px;
    }
    .background2SmallScreens{
        display: none;
    }
    .background1{
        height: 44vh;
        margin: 1.5vw 0.75vw 0px 1.5vw;
    }
    .background2{
        height: 44vh;
        margin: 0vw 1.5vw 0vw 0.75vw;
    }
    .background3{
        height: 44vh;
        margin: 0vw 0.75vw 1.5vw 1.5vw;
    }
    .gridContainerInnerText0{
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 20px;
        margin-right: 3vw;
        margin-left: 0.5vw;
    }
    .gridContainer2080{
        background-color: white;
        display: grid;
        grid-template-rows: 20% 80%;
    }
    .gotQuestionsContainer {
        grid-template-columns: 40% 60%;
    }
    .footerIcon {
        width: 20vh;
        height: 20vh;
        margin-left: 20vw;
    }
    .footerMargin {
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .homePageFooterText {
        font-weight: 300;
        line-height: 44px;
        letter-spacing: 0.05em;
        text-align: left;
        font-size: 36px;
    }
    .gotQuestions {
        flex-direction:column-reverse;  
        text-align: right;
        letter-spacing: 0.075em;
        line-height: 58px;
        font-size: 48px;
    }
    .signUpText{
        text-align: right;
        margin-right: 10vw;
    }
    .interestedText{
        font-size: 50px;
        margin-left: 10vw;
        display: flex;
        text-align: left;
    }
    .headerLeftText, .headerRightText{
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.195em;
    }
}

.headerTextContainer {
    justify-content: center;
    position: absolute;
    top: 20vh;
    width: 100vw;
    display: flex;
}
.headerLeftText{
    color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
}
.headerRightText{
    color: black;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
}
.watchThisSpaceContainer{
    position: absolute;
    top: 49vh;
    width: 100vw;
}
.watchThisSpaceText{
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.075em;
    text-align: left;
    color: white;
}
.letUsKnowText{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.075em;
    text-align: left;
    color: #FFFFFF;
}
.subscribeInput {
    background: #FFFFFF;
    box-shadow: 6px 9px 40px 3px #00FFD1;
    min-height: 5vh;
    font-size: 20px;
    font-weight: bold;
}
.subscribeInput:focus {
    background: #FFFFFF;
    box-shadow: 6px 9px 40px 3px #00FFD1;
}
.subscribeInputContainer{
    width: 80%;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}

.backgroundimage0{
    /* top: 0px;
    position: absolute; */
    background-image: url(./images/Background_2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 146vh;
    position: absolute;
}
.backgroundimage1{
    /* top: 0px;
    position: absolute; */
    top: 146vh;
    z-index: -1;
    background-image: url(./images/Background_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 267vh;
    position: absolute;
}
.gradientColor0{
    position: absolute;
    width: 100vw;
    height: 200vh;
    top: 0px;
    left: 0px;
    opacity:1;
    background: linear-gradient(214.48deg, rgba(255, 93, 0, 0.76) 15.64%, rgba(3, 33, 51, 0.76) 46.43%);
}
.gradientColor1{
    position: absolute;
    width: 100vw;
    height: 213vh;
    top: 200vh;
    left: 0px;
    opacity:1;
    background: linear-gradient(206.91deg, rgba(255, 93, 0, 0.76) 4.12%, rgba(3, 33, 51, 0.76) 44.59%);
    transform: rotate(-180deg);
}

.whatWeDo {
    position: absolute;
    top: 73vh;
    width: 80vw;
    margin: 0px 10vw;
    display: grid;
    background-color: white;
}

.background1{
    background-image: url(./images/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.background2{
    background-image: url(./images/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.background3{
    background-image: url(./images/background3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gridContainer2080text0{
    text-align: right;
    margin-right: 2vw;
    font-weight: 400;
    font-size: 72px;
    letter-spacing: 1vw;
}
.whiteFlexContainer{
    background-color: white;
    display: flex
}

.getToKnowUs {
    position: absolute;
    top: 240vh;
    width: 80vw;
    margin: 0px 10vw;
    display: grid;
    background-color: white;
}

.getToKnowUsText{
    margin-right: 7vw;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1vw;
    color: #11384b;
    display: flex;
    flex-direction: row-reverse;
}

.advisoryBoardText {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin-left: 5vw;
    font-family: sans-serif;
    font-style: normal;
    color: #000005;
}

.cardsListGrid {
    display: grid;
    grid-gap: 3.5vw;
    margin: 0 5vw 0 5vw
}

.cardStyle{
    background-color: #c5cfd5;
    height: 38vh;
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.cardImage0{
    background-image: url(./images/person0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 24px;
    color: white;
}
.cardImage1{
    background-image: url(./images/person1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 24px;
    color: white;
}
.cardImage2{
    background-image: url(./images/person2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 24px;
    color: white;
}
.cardImage3{
    background-image: url(./images/person3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 24px;
    color: white;
}
.cardImage4{
    background-image: url(./images/person4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 24px;
    color: white;
}
.cardImage5{
    background-image: url(./images/person5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 3px;
    font-size: 24px;
    color: white;
}
.interestedContainer{
    position: absolute;
    top: 370vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
.interestedText{
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0.185em;
}
.signUpText{
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0.18em;
}
.gotQuestions {
    font-family: Lato;
    font-weight: 500;
    display:flex;
    width:50vw;
    height:100%;
}
.gotQuestionsContainer {
    display: grid;
    grid-template-rows: 40% 60%;
    height: 100%;
    width: 100%;
}
.contactUs {
    align-items: center;
    display:flex;
    width:50vw;
    height:100%;
}
.contactUsText {
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.075em;
    text-align: left;
    color: #324D5D;
}
.tcmsMailText {
    color: #FF5D00;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.075em;
    text-align: left;
}
.homePageFooterImage {
    background-image: url(./images/background_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 33vh;
    top: 446vh;
    position: absolute;
}
.homePageFooterContainer {
    z-index: 1;
    width: 100vw;
    height: 33vh;
    top: 446vh;
    position: absolute;
    display: flex;
    align-items: center;
}
.homePageFooterText {
    font-family: Lato;
    font-style: normal;
    color: white;
    z-index: 1;
}
.homePageFooterBackgroundColor {
    width: 100vw;
    height: 33vh;
    top: 446vh;
    position: absolute;
    background: linear-gradient(215.47deg, rgba(255, 93, 0, 0.76) 22.77%, rgba(3, 33, 51, 0.76) 54.62%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.footerIcon {
    z-index: 1;
}