@media (max-width: 1000px) {
    .resetContainer{
        height: 130vh;
        grid-template-rows: 13% 87%;

    }
    .resetBottom{
        margin: 0 5vw
    }
    .resetInputContainer{
        width: 100%;
    }
}
@media (min-width: 1000px) {
    .resetContainer{
        height: 100vh;
        grid-template-rows: 15% 85%;
    }
    .resetBottom{
        display: grid;
        grid-template-rows: 17.6% 60% auto;
        padding: 0px 6vw;
    }
    .resetInputContainer{
        width: 50%;
    }
    
}
.resetContainer {
    display: grid;
    font-size: 20px;
    background:linear-gradient(to right top, rgba(162,211,215,255) 0%, #e1e5e9 60%);
}


.resetInputContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
}
